.Liquidity-bg {
  height: 397px;
  background: linear-gradient(180deg, #1d1132 0%, #000000 100%);
  border: 1px solid #fd0093;
  border-radius: 10px 10px 70px 10px;
}
.form-controlL {
  width: 387px;
  height: 87px;
  background: #0c0715;
  color: #583d87;
  border: none;
}
.input-group {
  box-shadow: 1px 1px 35px -3px #01f7f7;
}
.tYour {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fd0093;
}
.tRemove {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
 text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.btn_add_bg {
  margin-top: 50px;
  width: 270px;
  height: 67px;
  background: linear-gradient(267.95deg, #01f7f7 -8.05%, #00a99f 72.65%);
  box-shadow: 1px 1px 35px 5px rgba(255, 0, 0, 0.47);
  border-radius: 2px 2px 40px 2px;
}
.btn_Add_icon_bg {
  position: relative;
  left: -10px;
  width: 64px;
  height: 67px;
  background: #04ebea;
  box-shadow: 4px 0px 11px 4px rgba(0, 0, 0, 0.24);
  border-radius: 2px 0px 0px 2px;
}
@media (max-width: 320px) {
  .Linput {
    width: 220px !important;
  }
  ::placeholder {
    font-size: 10px !important;
  }
  .responsive-liquidity-button {
    margin-top: -30px;
  }
}
@media (max-width: 375px) {
  .Linput {
    width: 280px !important;
  }
  ::placeholder {
    font-size: 12px !important;
  }
}
@media (max-width: 425px) {
  .Linput {
    width: 320px !important;
  }
  ::placeholder {
    font-size: 14px !important;
  }
  /* .responsive-liquidity-button{
    margin-top: -5px;
  } */
}
@media (max-width: 768px) {
  .responsive-liquidity-button {
    margin-top: -20px;
  }
}
.link_Add {
  text-decoration: none;
  color: #ffffff;
}
.link_Add:hover {
  color: #ffffff;
}
.dropdown-menu-liqudity {
  background-color: #1a102d;
}
.dropdown-item-liqudity {
  color: #01f7f7;
}
.dropdown-item-liqudity:hover {
  background: #fd0093;
  color: #fff;
}
